.headerText{
    color: rgb(0,0,0,.7);
    font-size: 28px;
    margin: 20px 0;
    font-weight: 200;
}
.appContainer{
    margin: 0 5%;
}

@media only screen and (max-width: 600px) {
    .headerText{
        text-align: center;
        margin: 10px auto 0;
    }
    .searchField{
        margin: 0 15vw
    }
}